[submodule "server-tools"]
	path = server-tools
	url = git@github.com:jarsa/server-tools.git
	branch = 13.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:Jarsa/mexico.git
	branch = 13.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:Jarsa/mexico-document.git
	branch = 13.0
[submodule "odoo-utilities"]
	path = odoo-utilities
	url = git@git.vauxoo.com:Jarsa/odoo-utilities.git
	branch = 13.0
[submodule "server-backend"]
	path = server-backend
	url = git@github.com:jarsa/server-backend.git
	branch = 13.0
[submodule "social"]
	path = social
	url = git@github.com:jarsa/social.git
	branch = 13.0
[submodule "account-closing"]
	path = account-closing
	url = git@github.com:jarsa/account-closing.git
	branch = 13.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:jarsa/purchase-workflow.git
	branch = 13.0
[submodule "xunnel"]
	path = xunnel
	url = git@github.com:xunnel/xunnel.git
	branch = 13.0
[submodule "pecaninis"]
	path = pecaninis
	url = git@git.vauxoo.com:jarsa/pecaninis.git
	branch = 13.0
